:root {
  --font-color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  html, body {
  font-weight: 300;`
  font-size: 12px;
  background: var(--tlo-strony);
  color: var(--font-color);
}


.a{
  grid-area: a;
  height: calc(100vh - 97vh);
}

.b{
  grid-area: b;
  height: calc(100vh - 99vh);
}
































}